* {
  font-family: 'Avenir', Helvetica, sans-serif;
}

input {
  border: none;
  background-color: #f8f9fa;
  margin-top: 20px;
  border-radius: 4px;
}

#submit-btn {
  background-color: #ff0000; 
  border: none;
  color: #f8f9fa;
  border-radius: 8px;
  margin: 4px;
  height: 32px;
  margin-left: 32px;
  margin-top: 24px;
}

.step button {
  background-color: #ff0000; 
  border: none;
  color: #f8f9fa;
  border-radius: 8px;
  margin: auto;
}

.button  {
  background-color: #ff0000;
  border: none;
  color: #f8f9fa;
  border-radius: 8px;
  margin: 4px;
}

#button-return {
  width: 150px;
  background-color: #ff0000;
  border: none;
  color: #f8f9fa;
  border-radius: 4px;
  height: 38px;
  margin-right: 4px;
}

#horizontal {
  height: 100%;
  width: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#input_item {
  width: 33%;
  color: #6c6d70;
  padding-top: 32px;
  padding-left: 24px;
}

#add_button {
  background-color: #f2f2f2;
  color: #6c6d70;
  height: 48px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 8px;
  text-align: center;
}

.title {
  width: 75%;
  color: #6c6d70;
}

/*#btn {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}*/

#straw {
  width: 400px;
  margin-bottom: 0;
  margin-top: 100px;
}

#input_box {
  background-color: #ffda01;
  border-radius: 8px;
  color: #6c6d70;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px; 
  height: 96px;
}

#submit {
  margin-left: auto;
  margin-right: auto;
}

#ingredients-shown {
  background-color: #fabc03;
  border-radius: 8px;
  color: #6c6d70;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px; 
  height: 96px;
  text-align: center;
  font-weight: bold;
}


/*snackbar*/

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #6c6d70; /* Gray background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


/*results page*/
.col-sm {
  background-color: #f2f2f2;
  border-radius: 8px;
  color: #6c6d70;
  width: 200px;
  height: auto;
  padding: 8px;
  margin: 16px;
  flex-basis: 0;
}


