<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="input.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <nav style="height: 100px;" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
    <img src="./img/logo.png" height="60" alt="" id="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto; margin-right: 0;">
        <li class="nav-item active">
          <a class="nav-link" href="/" onClick="window.location.reload()">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="input.html">Input</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup.html">Login/Register</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="app">
    <div v-if="loading">
      <div id="horizontal">
        <h1 class="title">Enter Ingredients</h1>
        <button class="button" onclick="myFunction()">import recipe</button>
        <button class="button" v-on:click="switchToResults()" type="button">
          see results</button>
          <div id="snackbar">This feature is coming soon...</div>
      </div>

      <form v-on:submit.prevent="addItem">
        <div id="input_box">
          <div id="horizontal">
            <div id="input_item">
              <input v-model="addedItem" placeholder="item"></p>
            </div>
            <div id="input_item">
              <input v-model="addedQuantity" placeholder="quantity"></p>
            </div>
            <div id="input_item">
              <input v-model="addedBrand" placeholder="preferred brand"></p>
            </div>
            <button type="submit" class="submit" id="submit-btn">submit</button>

          </div>
        </div>

      </form>

      <div>
        
      </div>

      <!-- <h1 class="title">Entered Ingredients</h1> -->
      <div v-for="ingredient in ingredients" id="ingredients-shown">
        <hr>
        <p>{{ingredient.item}}</p>
        <p>{{ingredient.quantity}}</p>
        <p>{{ingredient.preferred_band}}</p>
        <br>
      </div>
      <img id="straw" src="img/strawberry.jpg" />

    </div>
    <div v-else>
      <div id="horizontal">
        <h1 class="title">Results</h1>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort By
      </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Price</a>
            <a class="dropdown-item" href="#">Popularity</a>
          </div>
        </div>
      </div>

      <button class="button" v-on:click="switchToInput()" type="button">
         return to input</button>

      <!-- bootstrap grid structure -->
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img style="height: 20px;" class="brand" src="./img/walmart.png" />
            <div v-for="ingredient in ingredients">
              <p>{{ingredient.item}} : $3.07</p>
            </div>
            Total: ${{ingredients.length * 3.07}}
          </div>
          <div class="col-sm">
            <img style="height: 20px;" class="brand" src="./img/tj.png" />
            <div v-for="ingredient in ingredients">
              <p>{{ingredient.item}} : $2.45</p>
            </div>
            Total: ${{ingredients.length * 2.45}}
          </div>
          <div class="col-sm">
            <img style="height: 40px;" class="brand" src="./img/target.png" />
            <div v-for="ingredient in ingredients">
              <p>{{ingredient.item}} : $5.10</p>
            </div>
            Total: ${{ingredients.length * 5.10}}
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img style="height: 20px;" class="brand" src="./img/smiths.svg" />
            <div v-for="ingredient in ingredients">
              <p>{{ingredient.item}} : $2.40</p>
            </div>
            Total: ${{ingredients.length * 2.40}}
          </div>
          <div class="col-sm">
            <img style="height: 20px;" class="brand" src="./img/aldi.png" />
            <div v-for="ingredient in ingredients">
              <p>{{ingredient.item}} : $4.97</p>
            </div>
            Total: ${{ingredients.length * 4.97}}
          </div>
          <div class="col-sm">
            <img style="height: 20px;" class="brand" src="./img/walmart.png" />
            <div v-for="ingredient in ingredients">
              <p>{{ingredient.item}} : $5.01</p>
            </div>
            Total: ${{ingredients.length * 5.01}}
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
  <script src="script.js"></script>


</body>

</html>
