* {
  font-family: 'Avenir', Helvetica, sans-serif;
}

button {
  background-color: #ff0000;
  border: none;
  color: #f8f9fa;
}

#title {
  width: 75%;
  color: #6c6d70;
}

#horizontal {
  height: 100%;
  width: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.col-sm {
  background-color: #f2f2f2;
  border-radius: 20px;
  color: #6c6d70;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px; 
  height: 96px;
  padding: 8px;
}