* {
  font-family: 'Avenir', Helvetica, sans-serif;
  f
  /*background-image: url("img/food.png");*/
}

.intro {
  width: 400px;
  float: right;
  text-align: center;
  margin-right: 500px;
  margin-top: 200px;
}

.intro button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
}

button {
  background-color: #ff0000;
  border: none;
  color: #f8f9fa;
  margin: auto;
}

#horizontal {
  height: 100%;
  width: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#title {
  width: 75%;
}

#btn {
  width: 25%;
  border-radius: 8px;
}

#logo {
  height: 50px;
}

/*steps*/

.step, .shadows {
  width: 400px;
  background-color: #ffda01;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  /*box-shadow: 5px 10px #6c6d70;*/
  -moz-box-shadow:    5px 6px #ccc;
  -webkit-box-shadow: 5px 6px #ccc;
  box-shadow:         5px 6px #ccc;
  border-radius: 8px;
}

.step-title {
  color: #6c6d70;
  margin-top: 16px;
  margin-left: 16px;
}

.step-img {
  width: 100%;
}

#steps-container {
  display: flex;
  justify-content: space-evenly;
  height: 800px;
  width: 100%;
  background-color: #f8f9fa;
  transition: width 2s;
}

.step p {
  color: #6c6d70;
  margin-top: 16px;
  margin-left: 16px;
}

#step-3 button, #step-3 {
  height: 64px;
  width: 160px;
}
/*
#step-3 {
  height: 64px;
  width: 160px;
}*/

